# Default behavior: if Git thinks a file is text (as opposed to binary), it
# will normalize line endings to LF in the repository, but convert to your
# platform's native line endings on checkout (e.g., CRLF for Windows).
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout. E.g.,
# *.txt text

# Declare files that will always have CRLF line endings on checkout. E.g.,
#*.sln text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout. E.g.,
*.sh text eol=lf
*.json text eol=lf


scripts/build text eol=lf
scripts/clean-up text eol=lf
scripts/compile text eol=lf
scripts/env-vars-check text eol=lf
scripts/env-vars-setup text eol=lf
scripts/run text eol=lf
scripts/travis text eol=lf

scripts/docker/build text eol=lf
scripts/docker/publish text eol=lf
scripts/docker/run text eol=lf

scripts/git/setup text eol=lf
