<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
    <packageSources>
        <!-- To enable LocalFeed for testing uncomment the following line -->
        <add key="Local" value="./LocalPackages" />
    </packageSources>
</configuration>