<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Some examples, remove the settings that are not needed by this service -->
    <add key="project-name-here.webservice.port" value="${PCS_PROJECTNAMEHERE_WEBSERVICE_PORT}"/>
    <!-- The following settings are used to connect to an external dependency, e.g. Azure IoT Hub and IoT Hub Manager API -->
    <!-- Depending on which settings and which dependencies are needed, edit the list of variables -->
    <add key="project-name-here.iothub.connstring" value="${PCS_IOTHUB_CONN_STRING}"/>
    <add key="iothubmanager.webservice.host" value="${PCS_IOTHUBMANAGER_WEBSERVICE_HOST}"/>
    <add key="iothubmanager.webservice.port" value="${PCS_IOTHUBMANAGER_WEBSERVICE_PORT}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
